.about {
  background-color: black;
  h1 {
    font-size: 4rem;
    text-align: center;
    padding-bottom: 40px;
  }
  p {
    color: #fff;
    font-size: 3rem;
    padding: 10px 0;
    text-indent: 2em;
  }
}

@media (max-width: 600px) {
  .about {
    h1 {
      font-size: 3rem;
      padding-bottom: 10px;
    }
    p {
      font-size: 2rem;
    }
  }
}
