.images {
  background-color: #000;
  padding-top: 70px;
  .container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .images {
    padding-top: 20px;
  }
}
